$primaryColor: hsl(322, 100%, 66%);
$secondaryColor: hsl(321, 100%, 78%);
$accentColor: hsl(0, 100%, 63%);

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

$family1: Poppins;
$family2: Open Sans;
$font-weights: (
  "regular": 400,
  "medium": 600,
  "large": 700,
);
